.doctor_details_p{
    text-transform: capitalize;
}

.ajax_loader_position_abs{
    position: absolute;
    top: 70%;
    left: 50%;
    display: none;
}

.ajax_loader_position_abs_active{
    display: block!important;
}

.searched_patient_details{
    display: none!important;
}

.searched_patient_details_active{
    display: block!important;
}

.status {
    position: absolute;
    right: 5px;
    top: 15px;
    width: 8px;
    height: 8px;
    background: url("../img/status.png") left top repeat;
}